*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #b91450;
}

.titolo{
    text-align: center;

    color: #fff;
    text-transform: uppercase;

    margin: 2rem 0;    
}

.contenitore{
    background-color: #fff;
    color: #b91450;
    border-radius: 1rem;
    box-shadow: 1rem 1rem 2rem #000;
    
    width: 80%;
    margin: auto;
    padding: 1rem;
}

.contenuto{
    display: flex;
    justify-content: space-around;

    margin-bottom: 2rem;
}

.box h5{
    text-align: center;
    margin: 1rem 0;
}


.bottoni{
    display: flex;
    justify-content: center;
}

button{
    margin: 1rem;

    width: 5rem;
    height: 2rem;

    color: #b91450;

    font-weight: bold;
}

.biglietto{
    border: 1px solid #000;
    border-right: none;
}